body {
	position: relative;
	margin: 0 0 0 0; /* Use the full page. */

	font-size: 100%;
	
	background-color: #f2f2d4;
	background-image: url(../img/sunflowers00.jpg) /* Modified public domain art from https://www.publicdomainpictures.net/en/view-image.php?image=163648&picture=&jazyk=SE */
}

.home, .footer {
	color: #302c25;
}

.card {
	position: relative; /* Position relative to accommodate absolute positioned contents within. */
	
	border: 1px solid #302c25;
	
	background-color: #d7edf5;
	background-image: url(../img/thankYou00.jpg); /* Original art by Natalie. */
	background-size: contain; /* Fill the entire .card class with the background image. */
	
	aspect-ratio: 1 / 1.334; /* Maintain proportions of the background-image when scaling .card class width. */
	
	-webkit-box-shadow: 0px 0px 50px 0px rgba(48,44,37,0.7);
	-moz-box-shadow: 0px 0px 50px 0px rgba(48,44,37,0.7);
	box-shadow: 0px 0px 50px 0px rgba(48,44,37,0.7);	
}

.card, .home {
	margin: 2% auto; /* Top and bottom margins is 2% of height. Left and right margins center the .card class. */
}

.text {
	position: absolute; /* Center and stretch .text to fit the container using absolute position and 0 values for top, bottom, left, and right. */
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	
	margin: 5%;
}

h1 {
	text-align: center;
	
	padding: 1vw 0;
}

p {
	font-family: georgia, serif;
}

.fancy {
	font-family: 'Dancing Script', cursive;
	font-weight: bold;
}

.footer {
	text-align: center;
	font-size: 1em;
}

/* Desktop resolution full screen. */
@media only screen and (min-width: 1281px) {
	body {
		background-size: 85%;
	}
	
	.card, .home {
		max-width: 42%;
	}
	
	h1 {
		font-size: 4.5vw;
	}
	
	p {
		font-size: 1.75vw;
	}
}

/* Desktop resolution two thirds screen. */
@media only screen and (max-width: 1280px) {
	body {
		background-size: 80%;
	}
	
	.card, .home {
		max-width: 52%; 
	}
	
	h1 {
		font-size: 5.5vw;
	}
	
	p {
		font-size: 2.25vw;
	}
}
	

/* iPad & Fire resolution. Desktop half screen. */
@media only screen and (max-width: 960px) {
	body {
		background-size: 75%;
	}
	
	.card, .home {
		max-width: 82%;
	}
	
	h1 {
		font-size: 7vw;
	}
	
	p {
		font-size: 3.75vw;
	}
}
	
/* iPhone & Galaxy resolution. */
@media only screen and (max-width: 620px) {
	body {
		background-size: 70%;
	}
	
	.card, .home {
		max-width: 72%;
	}
	
	h1 {
		font-size: 7.5vw;
	}
	
	p {
		font-size: 3.25vw;
	}
}